@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,400&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
#header{
    background-color: gray;
}
#nav{
    float: left;
    background-color: lightgray;
    margin: 0 0 500px 0;
    text-decoration: none;
}

#morestuff{
    background-color: navajowhite;
}
#footer{
    background-color: darkgoldenrod;
}